{% extends 'external.html' %}

{% block title %}
  Petici&oacute;n Erronea 
  - M&eacute;xico Administraci&oacute;n Escolar 
  - Control de Plantel Educativo Aguascalientes
{% endblock %}

{% block description %}
  Automatizaci&oacute;n de procesos administrativos para planteles 
  educativos por medio de m&oacute;dulos especializados en la 
  gesti&oacute;n de inscripciones, control de alumnos y reportes varios.
{% endblock %}

{% block external %}
  <div class="ui center aligned text basic segment">
    <h1 class="ui blue header">Petici&oacute;n Erronea</h1>
    <p>Una disculpa, seguimos trabajando en ello!</p>
  </div>
{% endblock %}
