{% extends 'external.html' %}

{% block title %}
  Prohibido 
  - M&eacute;xico Administraci&oacute;n Escolar 
  - Control de Plantel Educativo Aguascalientes
{% endblock %}

{% block description %}
  Automatizaci&oacute;n de procesos administrativos para planteles 
  educativos por medio de m&oacute;dulos especializados en la 
  gesti&oacute;n de inscripciones, control de alumnos y reportes varios.
{% endblock %}

{% block external %}
  <div class="ui center aligned text basic segment">
    <h1 class="ui blue header">Prohibido</h1>
  </div>
  <div class="ui center aligned text basic segment">
      <p>Aguas! No tienes los permisos</p>
  </div>
{% endblock %}
