<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item">
        Alumno
      </a>
      <a class="item">
        Padres
      </a>
      <a class="item">
        Autorizados
      </a>
      <a class="item">
        Finanzas
      </a>
      <a class="item">
        Documentos
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      This is an stretched grid column. This segment will always match the tab height
    </div>
  </div>
</div>