{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Title -->
    <title>{% block title %}Untitled Document{% endblock %}</title>
    <!-- Description -->
    <meta name="description" content="{% block meta-descripcion %}Description{% endblock %}">
    <meta name="author" content="Francisco Benavides">

    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/react-table@latest/react-table.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- User -->
    <div class="ui fuild right aligned container">
      {% if user.is_authenticated %}
        {{ user.username }}
      {% else %}
        Anonymous
      {% endif %}
      <i class="blue user icon"></i>
    </div>

    <!-- Top Menu -->
    <div class="ui center aligned page grid">
      <div class="computer tablet only row">
        <div class="ui blue fluid inverted navbar menu">
          {% block menunav %}
            <a href="/" class="brand item">School</a>
            <!--a href="" class="active item">Link</a-->
            <!--a href="" class="item">Link</a-->
            <!--a href="" class="item">Link</a-->
            <!--a class="ui dropdown item">Dropdown
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">Action</div>
                <div class="item">Another action</div>
                <div class="item">Something else here</div>
                <div class="ui divider"></div>
                <div class="item">Seperated link</div>
                <div class="item">One more seperated link</div>
              </div>
            </a-->
            <div class="right menu">
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="item">Logout</a>
              {% else %}
                <a href="{% url 'register' %}" class="item">Register</a>
                <a href="{% url 'login' %}" class="item">Login</a>
              {% endif %}
            </div>
          {% endblock %}
        </div>
      </div>

      <div class="mobile only narrow row">
          <div class="ui blue inverted navbar menu">
              <a href="" class="brand item">School</a>
              <div class="right menu open">
                  <a href="#" class="item menu">
                      <i class="inverted bars icon"></i>
                  </a>
              </div>
          </div>

          <div class="ui blue iverted vertical navbar menu">
            {% block verticalmenunav %}
              <a href="/" class="brand item">School</a>
              <!--a href="" class="active item">Link</a-->
              <!--a href="" class="item">Link</a-->
              <!--a href="" class="item">Link</a-->
              <!--a class="ui dropdown item">Dropdown
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">Action</div>
                  <div class="item">Another action</div>
                  <div class="item">Something else here</div>
                  <div class="ui divider"></div>
                  <div class="item">Seperated link</div>
                  <div class="item">One more seperated link</div>
                </div>
              </a-->
              <div class="right menu">
                {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="item">Logout</a>
                {% else %}
                  <a href="{% url 'register' %}" class="item">Register</a>
                  <a href="{% url 'login' %}" class="item">Login</a>
                {% endif %}
              </div>
            {% endblock %}
          </div>
      </div>
    </div>

    <!-- Content -->
    <div class="ui fuild basic very padded container segment">
      <div class="ui center aligned page grid">
        <div class="ui center aligned basic segment">
            {% block content %}
              <h1 class="ui header">Template</h1>
              <p>Base Template</p>
            {% endblock %}
          <script src="{% static 'dist/bundle.js' %}" type="text/javascript" ></script>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="ui fuild container">
      <div class="computer tablet only row">
        <div class="ui inverted stackable divided equal height grid">
          <div class="blue row">
            <div class="three wide column">
              <a href="{% url 'about' %}"><h4 class="ui inverted header">Qui&eacute;nes Somos</h4></a>
              <div class="ui inverted link list">
                <a href="#" class="item"> <i class="sitemap icon"></i> Sitemap</a>
                <a class="item" itemprop="email" href="mailto:&#102;&#114;&#097;&#110;&#099;&#105;&#115;&#099;&#111;&#046;&#098;&#101;&#110;&#097;&#118;&#105;&#100;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"><i class="envelope icon"></i> Cont&aacute;ctanos</a>
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Servicios</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Soporte</a>
                <a href="#" class="item">Preguntas Frequentes</a>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">Footer Header</h4>
              <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
          </div>

          <div class="blue row">
            <div class="center aligned column">
              Copyright &copy; 2018 iWYP
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script src="https://unpkg.com/react-table@latest/react-table.js"></script>
    <script src="https://unpkg.com/react-table@latest/react-table.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>var ReactTable = window.ReactTable.default</script>
  </body>
</html>
