{% extends 'base.html' %}
{% include "_nav.html" %}

{% block title %}
    <title>Bienvenidos - M&eacute;xico Administraci&oacute;n Escolar - Control de Plantel Educativo Aguascalientes</title>
    <meta name="description" content="Automatizaci&oacute;n de procesos administrativos para planteles educativos por medio de m&oacute;dulos especializados en la gesti&oacute;n de inscripciones, control de alumnos y reportes varios.">
{% endblock %}

{% block content %}
    <h1 class="ui blue header">Django</h1>
    <div id="react-welcome"></div>
{% endblock %}