{% extends 'two_column.html' %}

{% block title %}
  Mostrar Persona(s) Autorizada(s) 
  - M&eacute;xico Administraci&oacute;n Escolar 
  - Control de Plantel Educativo Aguascalientes
{% endblock %}

{% block description %}
  Automatizaci&oacute;n de procesos administrativos para planteles 
  educativos por medio de m&oacute;dulos especializados en la 
  gesti&oacute;n de inscripciones, control de alumnos y reportes varios.
{% endblock %}

{% block side-nav %}
  <a class="item" href="{% url 'alumni-show' alumno.id %}">Alumno</a>
  <a class="item" href="{% url 'alumni-show-parents' alumno.id %}">Padres</a>
  <a class="item" href="{% url 'alumni-show-address' alumno.id %}">Dirección</a>
  <a class="active item" href="{% url 'alumni-show-authorized' alumno.id %}">Autorizado</a>
  <a class="item" href="{% url 'alumni-show-finances' alumno.id %}">Finanzas</a>
  <a class="item" href="{% url 'alumni-show-documents' alumno.id %}">Documentos</a>
{% endblock %}

{% block side-content %}
  {% if alumno %}
    <div class="ui text basic segment">
      <div class="ui celled grid">
        <div class="twelve wide column">
          {% if alumno.authorized1_name %}
            <div class="ui text basic segment">
              <h1 class="ui blue header">{{ alumno.authorized1_name }} {{ alumno.authorized1_familynames }}</h1>
              {{ alumno.get_parentezco1_string }}
            </div>
            <div class="row">
              <div class="ui grid">
                <div class="ui right aligned three wide column"><strong>Personal</strong></div>
                <div class="ui six wide column">{{ alumno.authorized1_cell_phone }}</div>
              </div>
            </div>
            <div class="row">
              <div class="ui grid">
                <div class="ui right aligned three wide column"><strong>Casa</strong></div>
                <div class="ui six wide column">{{ alumno.authorized1_telephone }}</div>
              </div>
            </div>
          {% endif %}

          {% if alumno.authorized2_name %}
            <div class="ui text basic segment">
              <h1 class="ui blue header">{{ alumno.authorized2_name }} {{ alumno.authorized2_familynames }}</h1>
              {{ alumno.get_parentezco2_string }}
            </div>
            <div class="row">
              <div class="ui grid">
                <div class="ui right aligned three wide column"><strong>Personal</strong></div>
                <div class="ui six wide column">{{ alumno.authorized2_cell_phone }}</div>
              </div>
            </div>
            <div class="row">
              <div class="ui grid">
                <div class="ui right aligned three wide column"><strong>Casa</strong></div>
                <div class="ui six wide column">{{ alumno.authorized2_telephone }}</div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="ui center aligned text basic segment">
      <p>El alumno no existe</p>
    </div>
  {% endif %}
{% endblock %}
