{% extends "base.html" %}
{% include "_nav.html" %}

{% block title %}
    <title>Mostrar Documentos - M&eacute;xico Administraci&oacute;n Escolar - Control de Plantel Educativo Aguascalientes</title>
    <meta name="description" content="Automatizaci&oacute;n de procesos administrativos para planteles educativos por medio de m&oacute;dulos especializados en la gesti&oacute;n de inscripciones, control de alumnos y reportes varios.">
{% endblock %}


{% block content %}
  <h2>Mostrar Documentos</h2>
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="span2"><p>Acta de Nacimiento:</p></div>
      <div class="span10"><p><a href="/media/{{ alumno.birth_certificate }}">{{ alumno.birth_certificate }}</a></p></div>
    </div>
    <div class="row">
      <div class="span2"><p>Cartilla de Vacunaci&oacute;n:</p></div>
      <div class="span10"><p><a href="/media/{{ alumno.immunization_card }}">{{ alumno.immunization_card }}</a></p></div>
    </div>
    <div class="row">
      <div class="span2"><p>CURP</p></div>
      <div class="span10"><p><a href="/media/{{ alumno.curp_card }}">{{ alumno.curp_card }}</a></p></div>
    </div>
  </div>
{% endblock %}
