{% extends "base.html" %}
{% include "_nav.html" %}

{% block title %}
    <title>Actualizar Persona(s) Autorizada(s) - M&eacute;xico Administraci&oacute;n Escolar - Control de Plantel Educativo Aguascalientes</title>
    <meta name="description" content="Automatizaci&oacute;n de procesos administrativos para planteles educativos por medio de m&oacute;dulos especializados en la gesti&oacute;n de inscripciones, control de alumnos y reportes varios.">
{% endblock %}


{% block content %}
  <h2>Actualizar Persona(s) Autorizada(s)</h2>
  <form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    
    <fieldset>
      <legend><strong>&nbsp;Persona Autorizada&nbsp;</strong></legend>
      <div class="row">
        <div class="span2">
          <p>Nombre:</p>
        </div>
        <div class="span2">
          <p>{{ form.authorized1_name }}</p>
        </div>
        <div class="apan8">
          <p>{{ form.authorized1_familynames }}</p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <p>Tel. Celular:<p>
        </div>
        <div class="span10">
          <p>{{ form.authorized1_cell_phone }}</p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <p>Tel. Casa:</p>
        </div>
        <div class="span10">
          <p>{{ form.authorized1_telephone }}</p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <p>Parentezco:</p>
        </div>
        <div class="span10">
          <p>{{ form.authorized1_parentezco }}</p>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><strong>&nbsp;Persona Autorizada&nbsp;</strong></legend>
      <div class="row">
        <div class="span2">
          <p>Nombre:</p>
        </div>
        <div class="span2">
          <p>{{ form.authorized2_name }}</p>
        </div>
        <div class="apan8">
          <p>{{ form.authorized2_familynames }}</p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <p>Tel. Celular:<p>
        </div>
        <div class="span10">
          <p>{{ form.authorized2_cell_phone }}</p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <p>Tel. Casa:</p>
        </div>
        <div class="span10">
          <p>{{ form.authorized2_telephone }}</p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <p>Parentezco:</p>
        </div>
        <div class="span10">
          <p>{{ form.authorized2_parentezco }}</p>
        </div>
      </div>
    </fieldset>

    <br/>
    <p><input type="submit" value="Guardar" /></p>
  </form>
{% endblock %}
