{% extends 'two_column.html' %}

{% block title %}
  Mostrar Alumno 
  - M&eacute;xico Administraci&oacute;n Escolar 
  - Control de Plantel Educativo Aguascalientes
{% endblock %}

{% block description %}
  Automatizaci&oacute;n de procesos administrativos para planteles 
  educativos por medio de m&oacute;dulos especializados en la 
  gesti&oacute;n de inscripciones, control de alumnos y reportes varios.
{% endblock %}

{% block side-nav %}
  <a class="active item" href="{% url 'alumni-show' alumno.id %}">Alumno</a>
  <a class="item" href="{% url 'alumni-show-parents' alumno.id %}">Padres</a>
  <a class="item" href="{% url 'alumni-show-address' alumno.id %}">Dirección</a>
  <a class="item" href="{% url 'alumni-show-authorized' alumno.id %}">Autorizados</a>
  <a class="item" href="{% url 'alumni-show-finances' alumno.id %}">Finanzas</a>
  <a class="item" href="{% url 'alumni-show-documents' alumno.id %}">Documentos</a>
{% endblock %}


{% block side-content %}
  {% if alumno %}
    <div class="ui text basic segment">
      <h1 class="ui blue header">{{ alumno.child_name }} {{ alumno.child_familynames}}</h1>
    </div>
    <div class="ui text basic segment">
      <div class="ui internally celled grid">
        <div class="three wide column">
          {% if alumno.child_photo %}
            <img class="ui medium bordered image" src="{{ alumno.child_photo.url }}" alt="Foto {{ alumno.child_familynames }} {{ alumno.child_name }}" title="Foto {{ alumno.child_familynames }} {{ alumno.child_name }}" height="250px" width="200px">
          {% else %}
            <i class="id badge icon"></i>
          {% endif %}
        </div>
        <div class="nine wide column">
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Edad</strong></div>
              <div class="ui five wide column">{{ alumno.age }} Años</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>FdN</strong></div>
              <div class="ui five wide column">{{ alumno.child_dob }}</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>CURP</strong></div>
              <div class="ui five wide column">{{ alumno.child_curp_id }}</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Folio</strong></div>
              <div class="five wide column">{{ alumno.folio }}</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Grado</strong></div>
              <div class="five wide column">{{ alumno.group_string }}</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Horario</strong></div>
              <div class="five wide column">{{ alumno.schedule_string }}</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Observaciones</strong></div>
              <div class="five wide column">{{ alumno.child_observations }}</div>
            </div>
          </div>
          <h2 class="ui red horizontal divider header">Emergencía</h2>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Contácto</strong></div>
              <div class="five wide column">{{ alumno.emergency_telephone_number }} - {{ alumno.emergency_contact }}</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Doctor</strong></div>
              <div class="five wide column"> (xxx) xxx-xxxx - {{ alumno.doctor }}</div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned four wide column"><strong>Hospital</strong></div>
              <div class="five wide column">(xxx) xxx-xxxx - {{ alumno.hospital }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="ui center aligned text basic segment">
      <p>El alumno no existe</p>
    </div>
  {% endif %}
{% endblock %}
