{% extends "base.html" %}
{% include "_nav.html" %}

{% block title %}
    <title>Actualizar Documentos - M&eacute;xico Administraci&oacute;n Escolar - Control de Plantel Educativo Aguascalientes</title>
    <meta name="description" content="Automatizaci&oacute;n de procesos administrativos para planteles educativos por medio de m&oacute;dulos especializados en la gesti&oacute;n de inscripciones, control de alumnos y reportes varios.">
{% endblock %}

{% block content %}
  <h2>Actualizar Documentos</h2>
  <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    {% csrf_token %}
    <table>
    {% for field in form %}
    <tr>
    <td>{{ field.label_tag }}:</td><td>{{ field }}</td>
    </tr>
    {% endfor %}
    </table>

    <br />
    <p><input type="submit" value="Guardar" /></p>
    </table>
  </form>
{% endblock %}
