{% extends 'two_column.html' %}

{% block title %}
  Mostrar Documentos 
  - M&eacute;xico Administraci&oacute;n Escolar 
  - Control de Plantel Educativo Aguascalientes
{% endblock %}

{%block description %}
  Automatizaci&oacute;n de procesos administrativos para planteles 
  educativos por medio de m&oacute;dulos especializados en la 
  gesti&oacute;n de inscripciones, control de alumnos y reportes varios.
{% endblock %}

{% block side-nav %}
  <a class="item" href="{% url 'alumni-show' alumno.id %}">Alumno</a>
  <a class="item" href="{% url 'alumni-show-parents' alumno.id %}">Padres</a>
  <a class="item" href="{% url 'alumni-show-address' alumno.id %}">Dirección</a>
  <a class="item" href="{% url 'alumni-show-authorized' alumno.id %}">Autorizado</a>
  <a class="item" href="{% url 'alumni-show-finances' alumno.id %}">Finanzas</a>
  <a class="active item" href="{% url 'alumni-show-documents' alumno.id %}">Documentos</a>
{% endblock %}

{% block side-content %}
  {% if alumno %}
    <div class="ui text basic segment">
      <div class="ui celled grid">
        <div class="twelve wide column">
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned three wide column"><strong>Acta de Nacimiento</strong></div>
              <div class="ui six wide column"><a href="/media/{{ alumno.birth_certificate }}">{{ alumno.birth_certificate }}</a></div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned three wide column"><strong>Cartilla de Vacunación</strong></div>
              <div class="ui six wide column"><a href="/media/{{ alumno.immunization_card }}">{{ alumno.immunization_card }}</a></div>
            </div>
          </div>
          <div class="row">
            <div class="ui grid">
              <div class="ui right aligned three wide column"><strong>CURP</strong></div>
              <div class="ui six wide column"><a href="/media/{{ alumno.curp_card }}">{{ alumno.curp_card }}</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>  {% else %}
    <div class="ui center aligned text basic segment">
      <p>El alumno no existe</p>
    </div>
  {% endif %}
{% endblock %}
