{% extends "base.html" %}
{% include "_nav.html" %}

{% block title %}
    <title>Mostrar Persona(s) Autorizada(s) - M&eacute;xico Administraci&oacute;n Escolar - Control de Plantel Educativo Aguascalientes</title>
    <meta name="description" content="Automatizaci&oacute;n de procesos administrativos para planteles educativos por medio de m&oacute;dulos especializados en la gesti&oacute;n de inscripciones, control de alumnos y reportes varios.">
{% endblock %}


{% block content %}
  <h2>Mostrar Persona(s) Autorizada(s)</h2>
  {% csrf_token %}

  <div class="container">
  
  <!-- Persona autrizada 1 -->
  <div class="row">
    <fieldset>
      <legend><strong>&nbsp;Persona Autorizada&nbsp;</strong></legend>
      
      <div class="row">
        <div class="span2">
          <p>Nombre:</p>
        </div>
        <div class="span2">
          <p>{{ alumno.authorized1_name }}</p>
        </div>
        <div class="apan8">
          <p>{{ alumno.authorized1_familynames }}</p>
        </div>
    </div><!-- Nombre -->
    <div class="row">
      <div class="span2">
        <p>Tel. Celular:<p>
      </div>
      <div class="span10">
        <p>{{ alumno.authorized1_cell_phone }}</p>
      </div>
    </div><!-- Teléfono celular -->
    <div class="row">
      <div class="span2">
        <p>Tel. Casa:</p>
      </div>
      <div class="span10">
        <p>{{ alumno.authorized1_telephone }}</p>
      </div>
    </div><!-- Teléfono residencial/casa -->
    <div class="row">
      <div class="span2">
        <p>Parentezco:</p>
      </div>
      <div class="span10">
    {% if alumno.authorized1_parentezco %}
    <p>{{ alumno.get_parentezco1_string }}</p>
    {% else %}
    <p></p>
    {% endif %}
      </div><!-- Parentezco -->
    </fieldset>
  </div><!-- Persona autorizada 1 -->

  <!-- Persona autorizada 2 -->
  <div class="row">
    <fieldset>
      <legend><strong>&nbsp;Persona Autorizada&nbsp;</strong></legend>

      <div class="row">
        <div class="span2">
          <p>Nombre:</p>
        </div>
        <div class="span2">
          <p>{{ alumno.authorized2_name }}</p>
        </div>
        <div class="apan8">
          <p>{{ alumno.authorized2_familynames }}</p>
        </div>
      </div><!-- Nombre -->
      <div class="row">
        <div class="span2">
          <p>Tel. Celular:<p>
        </div>
        <div class="span10">
          <p>{{ alumno.authorized2_cell_phone }}</p>
        </div>
      </div><!-- Teléfono celular -->
      <div class="row">
        <div class="span2">
          <p>Tel. Casa:</p>
        </div>
        <div class="span10">
          <p>{{ alumno.authorized2_telephone }}</p>
        </div>
      </div><!-- Teléfono residencial/casa -->
      <div class="row">
        <div class="span2">
          <p>Parentezco:</p>
        </div>
        <div class="span10">
      {% if alumno.authorized2_parentezco %}
      <p>{{ alumno.get_parentezco2_string }}</p>
      {% else %}
      <p></p>
      {% endif %}
        </div>
      </div><!-- Parentezco -->
    </fieldset>
  </div><!-- Persona autorizada 2 -->

  </div><!-- container -->
{% endblock %}
