{% extends 'external.html' %}

{% block title %}
  Login 
  - M&eacute;xico Administraci&oacute;n Escolar 
  - Control de Plantel Educativo Aguascalientes
{% endblock %}

{% block description %}
  Automatizaci&oacute;n de procesos administrativos para planteles 
  educativos por medio de m&oacute;dulos especializados en la 
  gesti&oacute;n de inscripciones, control de alumnos y reportes varios.
{% endblock %}

{% block external %}
  <div class="ui center aligned text basic segment">
    <h1 class="ui blue center aligned header">Login</h1>
  </div>
  <div class="ui text basic segment">
    <form class="ui form" method="post" action="{% url 'login' %}">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="username" maxlength="254" autofocus required id="id_username" placeholder="Username" />
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" required id="id_password" placeholder="Password" />
        </div>
      </div>
      <button class="ui fluid principal icon button" type="submit" value="login">
        <i class="unlock icon"></i>
        Login
      </button>

      <div class="ui error message"></div>
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
    </form>
  </div>
{% endblock %}
