{% extends "base.html" %}
{% include "_nav.html" %}

{% block title %}User Registration{% endblock %}

{% block content %}
    <div class="column" style="max-width: 450px;">

        <h1 class="ui blue header">
            <div class="content">Registration</div>
        </h1>

        <div class="ui basic segment">
            <form class="ui form" method="post" action="{% url 'register' %}">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" maxlength="150" autofocus required id="id_username" placeholder="Username" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password1" required id="id_password1" placeholder="Password" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="check icon"></i>
                        <input type="password" name="password2" required id="id_password2" placeholder="Password Confirmation" />
                    </div>
                </div>
                <button class="ui fluid principal icon button" type="submit" value="register">
                    <i class="save icon"></i>
                    Register
                </button>

                <div class="ui error message"></div>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>

        </div>
    </div>
{% endblock %}