{% extends 'external.html' %}

{% block title %}
  User Registration 
  - M&eacute;xico Administraci&oacute;n Escolar 
  - Control de Plantel Educativo Aguascalientes
{% endblock %}

{% block description %}
  Automatizaci&oacute;n de procesos administrativos para planteles 
  educativos por medio de m&oacute;dulos especializados en la 
  gesti&oacute;n de inscripciones, control de alumnos y reportes varios.
{% endblock %}

{% block external %}
  <div class="ui center aligned text basic segment">
      <h1 class="ui blue header">Registration</h1>
  </div>
  <div class="ui text basic segment">
    <form class="ui form" method="post" action="{% url 'register' %}">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="username" maxlength="150" autofocus required id="id_username" placeholder="Username" />
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password1" required id="id_password1" placeholder="Password" />
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="check icon"></i>
          <input type="password" name="password2" required id="id_password2" placeholder="Password Confirmation" />
        </div>
      </div>
      <button class="ui fluid principal icon button" type="submit" value="register">
        <i class="sign in alternate icon icon"></i>
        Register
      </button>

      <div class="ui error message"></div>
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
    </form>
  </div>
{% endblock %}
